@font-face {
  font-family: "Objective-Medium";
  src: url("./font/Objective-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "NotoSansJP-Medium";
  src: url("./font/NotoSansJP-Medium.otf") format("opentype");
}
/*  */
* {
  box-sizing: border-box;
}

#leva__root {
  display: none;
}

/* ion-icon */
ion-icon {
  font-size: 23px;
}

/* hover */
header nav ul li a:hover,
footer nav ul li a:hover,
.tool_list nav ul li img:hover {
  opacity: 0.5;
  cursor: url("./images/cursor.png"), auto;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #222;
  color: white;
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: "Inter var", sans-serif;
  cursor: url("./images/cursor.png"), auto;
  font-family: "Objective-Medium", "NotoSansJP-Medium";
}
/*  */

.App {
  width: 100%;
  height: 100vh;
  font-size: 18px;
  font-family: "Objective-Medium", "NotoSansJP-Medium";
}

/* header */
header {
  display: flex;
  justify-content: top;
  align-items: center;
  /* background-color: #c59d9d; */
  color: white;
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 10;
}

header h1 img {
  margin-left: 50px;
  margin-right: 30px;
  width: 150px;
  height: 84px;
  pointer-events: none;
}

header nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 80px;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.3s;
}

/* footer */
footer {
  /* background-color: #c59d9d; */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 4%;
  color: white;
  z-index: 10;
}

.copy_light p {
  position: fixed;
  bottom: 14px;
  right: 0;
  left: 0;
  text-align: center;
}

footer nav {
  width: 50%;
  margin: 0 0 0 auto;
  display: flex;
  justify-content: flex-end;
}

footer nav ul {
  margin-right: 15%;
}

footer nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 50px;
}

footer nav ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.3s;
}

/* contents */
.header_space {
  width: 100%;
  height: 120px;
  /* background-color: aqua; */
}

.footer_space {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 4%;
  /* background-color: aqua; */
}

/* main-page */
.main_title {
  font-size: 55px;
  line-height: 1px;

  /* position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 4%; */
}

.main_desc ul li {
  margin-top: 40px;
  margin-left: -40px;
  list-style: none;
}

.main_desc ul li p {
  font-size: 20px;
  width: 330px;
  word-wrap: break-word;
  margin-top: -15px;
}

/* .main_mylogo img {
  margin-top: 20px;
  width: 144px;
  height: 186px;
  pointer-events: none;
} */

/* tool-list */
.tool_list {
  position: absolute; /* 要素の配置方法を指定 */

  right: 0px;
  top: 20%;
  z-index: 10;
  /* position: absolute;
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center; */
}

.tool_list nav {
  width: 50%;
  margin: 0 0 0 auto;
  margin-right: 50px;
  display: flex;
  justify-content: flex-end;
  vertical-align: middle;
  z-index: 10;
}

.tool_list nav ul li {
  list-style: none;
}

.tool_list nav ul li img {
  margin-top: 20px;
  height: 10vw;
  max-height: 70px;
  transition: all 0.3s;
}

/* tools-page */
.mian_contents {
  margin-left: 50px;
  pointer-events: none;
  z-index: 10;
}

.page_desc p {
  font-size: 20px;
  width: 240px;
  word-wrap: break-word;
}

.tool_name {
  position: fixed;
  margin-top: -80px;
}

.tool_name p {
  font-size: 350px;
  letter-spacing: -15px;
  line-height: 0.1px;
  justify-content: center;
}

.tool_desc p {
  width: 420px;
  word-wrap: break-word;
  position: absolute;
  bottom: 0;
  margin-bottom: 28px;
}

@media screen and (max-width: 1770px) {
  .tool_name {
    margin-top: -2vw;
  }

  .tool_name p {
    /* font-size: 330px; */
    font-size: 17.5vw;
    letter-spacing: 0px;
  }

  .tool_desc p {
  }
}

@media screen and (max-width: 1120px) {
  .tool_desc p {
    margin-bottom: 150px;
    width: 500px;
  }
}
