@font-face {
  font-family: "Objective-Medium";
  src: url("./font/Objective-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "NotoSansJP-Medium";
  src: url("./font/NotoSansJP-Medium.otf") format("opentype");
}
/*  */
* {
  box-sizing: border-box;
}

:root {
  --light-color: #f4ede4;
  --dark-color: #222;

  --light-cursor: url("./images/cursorLight.png"), auto;
  --dark-cursor: url("./images/cursorDark.png"), auto;
}

/* 3DText */
.ThreeD_text {
  width: 100%;
  height: 100%;
}

#leva__root {
  display: none;
}

/* ion-icon */
ion-icon {
  font-size: 23px;
}

/* hover */
header nav ul li a:hover,
header h1 img:hover,
footer nav ul li a:hover,
#mode:hover,
.tool_list nav ul li img:hover,
.work_list ul li img:hover {
  opacity: 0.5;
  cursor: inherit;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--dark-color);
  color: var(--light-color);
  transition: all 0.3s;
}

.light_mode {
  background: var(--light-color) !important;
  color: var(--dark-color) !important;
}

.light_mode_text {
  color: var(--dark-color) !important;
}
.light_mode_logo {
  -webkit-filter: brightness(0) invert(1) !important;
  filter: brightness(0) invert(0.12) !important;
}

.light_mode_cursor {
  cursor: var(--dark-cursor);
}

body {
  position: fixed;
  overscroll-behavior-y: none;
  cursor: var(--light-cursor);
  font-family: "Objective-Medium", "NotoSansJP-Medium";
}

/* scroll */

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 20px;
}

/*  */

.App {
  width: 100%;
  height: 100vh;
  font-size: 18px;
  font-family: "Objective-Medium", "NotoSansJP-Medium";
}

/* header */
header {
  display: flex;
  justify-content: top;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 10;
}

header h1 {
  transition: all 0.3s;
}

header h1 img {
  margin-left: 50px;
  margin-right: 30px;
  width: 150px;
  height: 84px;
  transition: all 0.3s;
}

header nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 80px;
  transition: all 0.3s;
}

header nav ul li a {
  text-decoration: none;
  color: var(--light-color);
  transition: all 0.3s;
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 4%;
  z-index: 10;
}

#mode {
  position: fixed;
  margin-left: 35px;
}

.copy_light p {
  position: fixed;
  text-align: center;
  bottom: 14px;
  right: 0;
  left: 0;
  pointer-events: none;
}

footer nav {
  width: 50%;
  margin: 0 0 0 auto;
  display: flex;
  justify-content: flex-end;
}

footer nav ul {
  margin-right: 15%;
}

footer nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 50px;
  transition: all 0.3s;
}

footer nav ul li a {
  text-decoration: none;
  color: var(--light-color);
  transition: all 0.3s;
}

/* contents */
.header_space {
  width: 100%;
  height: 120px;
  background-color: transparent;
}

.footer_space {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 4%;
  background-color: transparent;
}

.main_contents {
  margin-left: 50px;
  pointer-events: none;
  z-index: 10;
}

/* main-page */
.page_desc p {
  font-size: 20px;
  width: 300px;
  word-wrap: break-word;
}

.main_title {
  font-size: 55px;
  line-height: 1px;
}

.main_desc ul li {
  margin-top: 40px;
  margin-left: -40px;
  list-style: none;
}

.main_desc ul li p {
  font-size: 20px;
  width: 350px;
  word-wrap: break-word;
  margin-top: -15px;
}

/* tool-list */
.tool_list {
  position: absolute;

  right: 0px;
  top: 20%;
  z-index: 10;
}

.tool_list nav {
  width: 50%;
  margin: 0 0 0 auto;
  margin-right: 50px;
  display: flex;
  justify-content: flex-end;
  vertical-align: middle;
  z-index: 10;
}

.tool_list nav ul li {
  list-style: none;
}

.tool_list nav ul li img {
  margin-top: 20px;
  height: 10vw;
  max-height: 70px;
  transition: all 0.3s;
  -webkit-filter: brightness(0%) contrast(300%) invert(90%) sepia(15%);
  filter: brightness(0%) contrast(300%) invert(90%) sepia(15%);
}

.tool_list nav ul li img.clicked {
  -webkit-filter: var(--initial-filter) !important;
  filter: var(--initial-filter) !important;
}

/* tec-list */
.tec_list nav {
  margin-left: -40px;
  margin-top: -10px;
}

.tec_list nav ul li {
  letter-spacing: 20px;
  display: contents;
  list-style: none;
  font-size: 45px;
  z-index: 10;
}

.tec_img {
  width: 45px;
  -webkit-filter: brightness(0%) contrast(300%) invert(90%) sepia(15%);
  filter: brightness(0%) contrast(300%) invert(90%) sepia(15%);
  filter: grayscale(95%) invert(15%) sepia(35%);
  transition: all 0.3s;
}

/* tools-page */

.tool_name {
  position: fixed;
  margin-top: -80px;
}

.tool_name p {
  font-size: 350px;
  letter-spacing: -15px;
  line-height: 0.1px;
  justify-content: center;
}

.tool_desc p {
  width: 420px;
  word-wrap: break-word;
  position: fixed;
  bottom: 0;
  margin-bottom: 28px;
}

.production_time {
  margin-top: -10px;
  font-size: 20px;
}

/* works-page */

.work_list {
  height: calc(100vh - 380px);
  position: fixed;
  overflow-y: scroll;
  pointer-events: auto;
}

.work_list ul {
  margin-left: -50px;
  max-width: 1920px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.work_list ul li img {
  border-radius: 15px;
  width: 500px;
  margin: 20px 20px 0px 20px;
  transition: 0.3s all;
}

.OA ul li img {
  border-radius: 15px;
  width: 420px;
  margin: 20px 20px 0px 20px;
}

.work_list ul li p {
  text-align: center;
  font-size: 1.2rem;
  margin: 0 auto;
}

@media screen and (max-width: 1120px) {
  /* 小さいウィンドウ */

  .tool_desc p {
    margin-bottom: 70px;
    width: 500px;
  }

  .copy_light p {
    text-align: start;
    margin-left: 50px;
  }

  footer nav {
    width: 80%;
  }

  footer nav ul {
    margin-right: 50px;
  }

  footer nav ul li {
    margin-right: 30px;
  }

  #mode {
    margin-left: 15px;
  }

  .work_list {
    height: calc(100vh - 420px);
  }
}

@media screen and (max-width: 450px) {
  /*スマホ用のcssを記述*/

  /* header */
  header {
    height: 60px;
    display: block;
  }

  header h1 {
    margin-top: -5px;
  }

  header h1 img {
    width: 94px;
    height: 53px;
    margin-left: 38%;
  }

  header nav {
    margin-top: -35px;
    text-align: center;
  }

  header nav ul li {
    margin-right: 6%;
  }

  header nav ul li a {
    font-size: 13px;
  }

  /* footer */
  footer {
    height: 60px;
  }

  .copy_light p {
    bottom: 4px;
    text-align: start;
    margin-left: 20px;
  }

  footer nav {
    width: 80%;
  }

  footer nav ul {
    margin-right: 50px;
  }

  footer nav ul li {
    margin-right: 20px;
  }

  #mode {
    margin-left: 25px;
  }
  /* contents */
  .header_space {
    height: 65px;
  }

  .footer_space {
    height: 60px;
  }

  .main_contents {
    margin-left: 20px;
  }

  /* main-page */
  .page_desc p {
    font-size: 13px;
    margin-top: 10px;
  }

  .main_title {
    font-size: 24px;
    line-height: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .main_desc ul li {
    margin-top: 28px;
    margin-left: -40px;
    list-style: none;
  }

  .main_desc ul li p {
    font-size: 13px;
  }

  /* tool-list */
  .tool_list {
    top: 25%;
  }

  .tool_list nav {
    margin-right: 10px;
  }

  .tool_list nav ul li img {
    margin-top: 10px;
  }

  /* tec-list */
  .tec_list nav {
    margin-left: -40px;
    margin-top: -10px;
  }

  .tec_list nav ul li {
    font-size: 24px;
  }

  .tec_img {
    width: 30px;
  }

  /* tools-page */

  .tool_desc p {
    width: 340px;
    margin-bottom: 60px;
  }

  .production_time {
    margin-top: -16px;
    font-size: 13px;
  }
  /* works-page */

  .work_list {
    margin-left: -15px;
    height: calc(100vh - 345px);
  }

  .work_list ul li p {
    font-size: 15px;
  }

  .work_list ul li img {
    width: 350px;
  }

  .mobile_space {
    height: 100px;
  }
}
